:root {
  --cor-fundo-principal: #eae6e1;
  --cor-azul-suave: #a4c9ce;
  --cor-rosa-pessego-suave: #dbc5bd;
  --cor-verde-acinzentado: #898f80;
  --cor-marrom-escuro: #594e48;
}
* {
  font-family: "Inter", sans-serif;
}
html,
body {
  background-color: var(--cor-fundo-principal);
  color: var(--cor-marrom-escuro);
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  background-color: var(--cor-azul-suave) !important;
}

.navbar-brand {
  color: var(--cor-marrom-escuro) !important;
  font-size: 46.9px;
}
.nav-link {
  font-family: "Inter", sans-serif;
  font-size: 28.8px;
  color: var(--cor-marrom-escuro) !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.img-navbar {
  height: 50px;
  width: auto;
  margin-right: 10px;
  object-fit: cover;
}
.navbar-toggler-icon {
  filter: invert(30%) sepia(10%) saturate(1400%) hue-rotate(345deg)
    brightness(90%) contrast(80%);
}
h2 {
  font-size: 46.9px;
}
p {
  font-size: 28px;
}
span {
  color: var(--cor-marrom-escuro);
}
.card-text {
  font-size: 15.35px;
  max-width: 100%;
  height: auto;
  color: var(--cor-marrom-escuro);
}

.card {
  max-width: 100%;
  height: auto;
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.btn {
  background-color: var(--cor-rosa-pessego-suave);
  color: var(--cor-marrom-escuro);
  border-color: var(--cor-rosa-pessego-suave);
  font-size: 20px;
}
.btn:hover {
  background-color: var(--cor-verde-acinzentado);
  color: var(--cor-marrom-escuro);
  border-color: var(--cor-verde-acinzentado);
}

#nossos-diferenciais .diferencial-card-circular {
  width: 400px;
  height: 400px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.card-title {
  font-size: 20px;
  color: var(--cor-marrom-escuro);
}
.icone-personalizado {
  color: var(--cor-marrom-escuro);
}
footer {
  width: 100%;
  min-height: 266px;
  background-color: var(--cor-azul-suave);
  color: var(--cor-marrom-escuro);
}
.title-footer {
  font-size: 45px;
}
footer p {
  font-size: 18px;
}

@media (max-width: 576px) {
  .card-mobile {
    width: 382px;
    height: 840px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .diferencial-mobile {
    width: 235px;
  }
  .diferencial-mobile.rounded-circle {
    width: 231px;
    height: 231px;
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  #mobile-footer .container {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
    gap: 1.5rem;
  }
}

.main-gap {
  gap: 100px;
}

@media (min-width: 768px) {
  .main-gap {
    gap: 160px;
  }
}

.body-gap {
  gap: 100px;
}

@media (min-width: 768px) {
  .body-gap {
    gap: 160px;
  }
}
.logo {
  background-color: #eae6e1;
}
